In [2]:
import pandas as pd

In [3]:
nb = pd.read_csv("../results/NB-idf.csv")
svm = pd.read_csv("../results/svm-idf.csv")
ree = pd.read_csv("../results/ensemble-REE.csv")
roberta = pd.read_csv("../results/roberta.csv")
cnn = pd.read_csv("../results/cnn.csv")

## NB

In [4]:
nb.groupby(nb.category).mean().round(3)

             f1-score  accuracy  matthews-corr
category
baby            0.758     0.770          0.528
electronics     0.650     0.708          0.369
pet             0.626     0.741          0.346
sports          0.663     0.721          0.370

## SVM

In [5]:
svm.groupby(svm.category).mean().round(3)

             f1-score  accuracy  matthews-corr
category
baby            0.765     0.772          0.532
electronics     0.734     0.750          0.471
pet             0.774     0.808          0.551
sports          0.730     0.753          0.462

## Roberta

In [6]:
roberta.groupby(roberta.category).mean().round(3)

             f1-score  accuracy  matthews-corr
category
baby            0.815     0.817          0.633
electronics     0.788     0.795          0.579
pet             0.830     0.848          0.662
sports          0.791     0.803          0.582

## CNN

In [7]:
cnn.groupby(cnn.category).mean().round(3)

             f1-score  accuracy  matthews-corr
category
baby            0.785     0.792          0.575
electronics     0.754     0.771          0.518
pet             0.794     0.826          0.592
sports          0.750     0.767          0.501

## REE

In [8]:
ree.groupby(ree.category).mean().round(3)

             f1-score  accuracy  matthews-corr
category
baby            0.716     0.718          0.463
electronics     0.700     0.703          0.435
pet             0.728     0.749          0.486
sports          0.683     0.686          0.419

In [10]:
nb['model'] = 'Naive Bayes'
svm['model'] = 'SVM'
ree['model'] = 'REE Ensemble'
roberta['model'] = 'RoBERTa'
cnn['model'] = 'CNN'

In [11]:
combined = pd.concat([nb,svm,ree,roberta,cnn])

In [12]:
combined.groupby(combined.model).mean().round(3)

              f1-score  accuracy  matthews-corr
model
CNN              0.771     0.789          0.547
Naive Bayes      0.674     0.735          0.403
REE Ensemble     0.707     0.714          0.451
RoBERTa          0.806     0.816          0.614
SVM              0.751     0.771          0.504